font-family: 'Lato', sans-serif;

main {
  background: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover {
    background-color:#bdc3c7;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}
h2 {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color:white;
}
body {
  background: url(http://4.bp.blogspot.com/-cydivUBZPlM/UkcGpV2C3EI/AAAAAAAAK-8/Zq2Zw_u2P0I/s640/galaxy_starfield.png);
}

